div, h4 {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    float: left;
}
.container-all{
    position: absolute;
    width: 100%;
    height: 800px;
}
header{
    width: 100%;
    height: 100px;
    padding: 1%;
    clear: left;
    text-align: center;
    
}
.center{
    clear: left;
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;

}
table, th, tr, td, tbody{
    width: 5%;
    padding: 2%;
    margin: 5%;
}

.scroll{
    overflow-y: scroll;
}

.col{
    position: relative;
    width: 50%;
    height: 700px;
}

.box{
    outline: 2px solid black;
}

.color1{
    background-color: #333;
    color: white;
}
.color2{
    background-color: rgb(3, 175, 175);
}
.color3{
    background-color: rgb(2, 86, 86);
    color: white;
}

.color4{
    background-color: rgb(148, 197, 202);
}

.sector{
    position: absolute;
    width: 47%;
    height: 47%;
    background-color: white;
}

.sector1{
    top: 2%;
    left: 2%;
}
.sector2{
    top: 2%;
    right: 2%;  
}
.sector3{
    bottom: 2%;
    left: 2%;
}
.sector4{
    bottom: 2%;
    right: 2%;
}
.sector-name{
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    padding: 6%;
    text-align: center;
    font-weight: bold;
}
.air{
    margin: 2.5%;
    width: 20%;
    height: 10%;
}
.air-on{
   background-color: rgb(122, 255, 122); 
}
.air-off{
    background-color: rgb(255, 85, 85);
}
.air-man{
    background-color: gray;
}

.resume{
    margin: 5%;
    width: 90%;
    height: 90%;
    background-color: white;
}
.summary{
    width: 100%;
    height: 15%;
    padding: 2%;
}

.legend{
    width: 5%;
    height: 20%;
    float: left;
}